html{
    scroll-behavior: smooth;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

section{
    padding: auto;
    background: #05035a;
}

.section_title{
    margin-bottom: 30px;
}

.section_title h2{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s ease-in-out;
}

.section_title h2:hover{
    background-color: #24CAAC;
}

/* HEADER */

header{
    background: #000000;
    border-bottom: 0.5px solid #20062b;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_links{
    display: flex;
}

.nav_links li a{
    margin-left: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.nav_links li a:hover{
    background: #24CAAC;
}

.logo h2 a{
    color: #fff;
    text-transform: uppercase;
}

/* ANASAYFA */

.inner_anasayfa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    color: #fff;
}

.child-anasayfa{
    flex-basis: 45%;
}

.child-anasayfa h1{
    font-size: 50px;
    color: #24CAAC;
}

.child-anasayfa p{
    font-size: 25px;
    margin-bottom: 15px;
}

.btn{
    background: #24CAAC;
    padding: 12px 25px;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #24CAAC;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover{
    background: transparent;

}

/* YAZILIMLAR */

.innersoftware{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.innersoftware_child{
    flex-basis: 31%;
    color: #fff;
    padding: 25px 20px;
    background: rgba(55, 66, 80, 0.281);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
}

.innersoftware_child:hover{
    border: 1px solid #24CAAC;
}

.innersoftware_child .icon{
    font-size: 25px;
    color: #24CAAC;
}

innersoftware_child h3{
    font-size: 20px;
    margin: 5px 0;
}

.innersoftware_child p{
    font-size: 16px;
}

/* HAKKIMDA */

.section_title{
    margin-bottom: 30px;
}

/* İLETİŞİM */

.inner_contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.child_contact{
    flex-basis: %45;
}

.child_contact form{
    padding: 50px 40px;
    background: #20062b;
    border-radius: 5px;
}

.child_contact form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #24292D;
    border: none;
    resize: none;
    border-radius: 25px;
    transition: .3s ease-in;
}

.child_contact form input,textarea:focus{
    color: #fff;
}

.child_contact form input:focus{
    letter-spacing: 1px;
}

.child_contact form textarea:focus{
    letter-spacing: 1px;
}

.child_contact form input:last-child{
    margin-bottom: 0;
    background: #24CAAC;
    border: 1px solid #24CAAC;
    transition: .3s;
}

.child_contact form input:last-child:hover{
    background: transparent;
    color: #fff;
}
